# Python / Django
venv/
.venv/
__pycache__/
*.pyc

# Database
db.sqlite3

# Secrets
.env
.env.*
!.env.example

# React / Vite
node_modules/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Django collected static files
staticfiles/